@font-face {
    font-family: 'GlyphIcons';
    src: url('./glyphicons-halflings-regular.woff'),
         url('./glyphicons-halflings-regular.woff2');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: blue;
    font-family: 'GlyphIcons';
}